In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path
import os
import tweepy
from collections import Counter
from tqdm import tqdm
from time import sleep

In [42]:
path_to_dataset = Path(os.getcwd()).parent / 'data' / 'iSarcasmEval'
path_to_train = path_to_dataset / 'train'
path_to_test = path_to_dataset / 'test`'

In [48]:
train = pd.read_csv(path_to_train / 'train.En.csv')
# train.shape
train.head()

,Unnamed: 0,tweet,sarcastic,rephrase,sarcasm,irony,satire,understatement,overstatement,rhetorical_question
0,0,The only thing I got from college is a caffein...,1,"College is really difficult, expensive, tiring...",0.0,1.0,0.0,0.0,0.0,0.0
1,1,I love it when professors draw a big question ...,1,I do not like when professors don’t write out ...,1.0,0.0,0.0,0.0,0.0,0.0
2,2,Remember the hundred emails from companies whe...,1,"I, at the bare minimum, wish companies actuall...",0.0,1.0,0.0,0.0,0.0,0.0
3,3,Today my pop-pop told me I was not “forced” to...,1,"Today my pop-pop told me I was not ""forced"" to...",1.0,0.0,0.0,0.0,0.0,0.0
4,4,@VolphanCarol @littlewhitty @mysticalmanatee I...,1,I would say Ted Cruz is an asshole and doesn’t...,1.0,0.0,0.0,0.0,0.0,0.0

In [51]:
preprocessing_frame = train.copy()
all_columns = preprocessing_frame.columns.tolist()
remove_columns = [column for column in all_columns if column != 'tweet' and column != 'sarcastic']
preprocessing_frame.drop(remove_columns, axis=1, inplace=True)
# Row 1062 has a nan and we want to drop the error
preprocessing_frame.dropna(inplace=True)
# preprocessing_frame.drop(preprocessing_frame.columns[remove_columns], axis=1, inplace=True)
preprocessing_frame.head()
# preprocessing_frame.shape

                                               tweet  sarcastic
0  The only thing I got from college is a caffein...          1
1  I love it when professors draw a big question ...          1
2  Remember the hundred emails from companies whe...          1
3  Today my pop-pop told me I was not “forced” to...          1
4  @VolphanCarol @littlewhitty @mysticalmanatee I...          1

### Frequently occuring words

In [38]:
from nltk.tokenize import word_tokenize
from collections import defaultdict

In [61]:
tokenized_df = preprocessing_frame.copy()
# type(tokenized_df['tweet'][0])
# def split_str(string):
#     return string.split()

# tokenized_df['tweet'].apply(split_str)

# tokenized_df.head()
li = tokenized_df['tweet'].to_list()
types = defaultdict(int)
for idx, elem in enumerate(li):
    types[type(elem)] += 1
    if type(elem) == float:
        print(elem, idx)

print(types)

tokenized_df['tweet'] = tokenized_df['tweet'].apply(word_tokenize)
tokenized_df.head()

defaultdict(<class 'int'>, {<class 'str'>: 3467})

['The',
 'only',
 'thing',
 'I',
 'got',
 'from',
 'college',
 'is',
 'a',
 'caffeine',
 'addiction']