In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path
import os

In [14]:
path_to_datasets = Path(os.getcwd()).parent / 'data'
path_to_isarcasm = path_to_datasets / 'iSarcasm'
path_to_isarcasm_test = path_to_isarcasm / 'isarcasm_test.csv'
path_to_isarcasm_train = path_to_isarcasm / 'isarcasm_train.csv'

In [15]:
### Load the train data
train_frame = pd.read_csv(path_to_isarcasm_train)
train_frame.head()

              tweet_id  sarcasm_label sarcasm_type
0   992251158159765504  not_sarcastic          NaN
1  1084373658745876480  not_sarcastic          NaN
2            812181186  not_sarcastic          NaN
3  1090276741329928194  not_sarcastic          NaN
4   553070692682723329      sarcastic      sarcasm